* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-form-size: 24px;
  --primary-color: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  background: var(--Light-grayish-cyan);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  padding: 24px;
}
main {
  background: var(--White);
  width: 100vw;
  height: 100vh;
  border-radius: 30px;
  padding: 32px;
}
h1 {
  font-size: 1rem;
  color: var(--Dark-grayish-cyan);
}
h2 {
  font-size: 0.7rem;
}
.people-number,
.bill {
  position: relative;
  line-height: 40px;
  margin-bottom: 24px;
}
.people-number img,
.bill img {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 15px;
  height: 20px;
}

.people-number input,
.bill input {
  width: 100%;
  height: 2.5rem;
  border: none;
  background: var(--Very-light-grayish-cyan);
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
  color: var(--Very-dark-cyan);
  border-radius: 6px;
  text-align: right;
}

.number-input {
  padding: 20px;
}

.tip-btn {
  cursor: pointer;
  background: var(--Very-dark-cyan);
  color: var(--White);
  width: 150px;
  padding: 6px 32px;
  border: none;
  text-decoration: none;
  display: inline-block;
  margin: 6px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}
.buttons .active,
.tip-btn:hover {
  background: var(--primary-color);
  color: var(--Very-dark-cyan);
}
.select-tip {
  margin-bottom: 12px;
}
.custom-tip {
  width: 150px;
  padding: 6px 32px;
  border-radius: 5px;
  margin: 6px;
}
.custom input {
  text-align: right;
  border: none;
  background: var(--Very-light-grayish-cyan);
  font-family: "Space Mono", monospace;
  color: var(--Very-dark-cyan);
  font-size: 1.2rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.result {
  background: var(--Very-dark-cyan);
  color: var(--Grayish-cyan);
}
.reset {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--Very-dark-cyan);
  width: 80%;
  padding: 6px 32px;
  border: none;
  text-decoration: none;
  margin: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}
::placeholder {
  text-align: right;
}
::-webkit-input-placeholder {
  text-align: right;
}

:-moz-placeholder {
  text-align: right;
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  main {
    width: 50vw;
    height: 50vh;
  }
}
